body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 300;
    min-width: 400px;
}


a{
    text-decoration: none;
}

.all {
    height: 95vh;
}

.title {
    padding: 2rem 0 0 2rem;     
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);

    & img {
        position: absolute;
        top: 6rem;
        right: 2rem;

        &:hover {
            cursor: pointer;
        }
    }
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    margin-top: 2rem;  
}

.store-menu {
    .menu-item {
        & img {
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            padding: 1rem;
        }

        & a {
            color: var(--white-color);
            width: 5rem;
        }
    } 
}

// story
.story-menu {
    color: var(--white-color);
    text-align: center;
    .list {
        margin: 1rem 0;
    }

    .list__item{
        margin: 0 10%;
    }
}

// time
.time {
    display: flex;
}

.time-title {
    padding: 1rem 0 0 2rem;     
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white-color);

    li {
        font-weight: 100;
        font-size: 1rem;
        margin: 0 0 0.5rem 0;
    }

    .tt {
        margin: 1rem 0;
    }
}

.left {
    width: 30%;
    margin: 1rem;

    & img {
        width: 5rem;
        border-radius: 50%;
    }
}

.pic {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.2rem;
}

.map {
    margin-right: 1rem;
    position: absolute;
    bottom: var(--header-height);
    right: 0;
}

// store
.cardpage {
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1rem;
    width: 90%;
    .card {
        width: 100%;
    }

    & img {
        width: 100%;
    }

    .card__item {
        margin: 1rem 0;
        font-size: 1.1rem;

    }
}

// shop
.shoppage {
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1rem;
    width: 80%;
    .card {
        width: 100%;
        max-width: 280px;
        border: 0.2rem solid var(--dark-color);
        overflow: hidden;
        border-radius: 10%;
    }

    .card img {
        width: 100%;
        max-width: 280px;
    }

    .card__item {
        margin: 1rem 0;
        font-size: 1.1rem;
    }

    .add {
        margin: 0 auto 1rem;
        background-color: var(--dark-color);
        padding: 1rem;
        font-size: 1rem;
        color: var(--white-color);
        border-radius: 50%;
        
        &:hover {
            background-color: #0e102673;
            cursor: pointer;
        }
    }
}

.cart-dropdown {
    position: absolute;
    width: 15rem;
    height: 15rem;
    display: none;
    top: 10rem;
    right: 0;
    padding: 20px;
    background-color: white;
    border: 0.2rem solid var(--dark-color);
    border-radius: 10%;

    &.showo {
        right: 0;
        display: block;
    }

    .cart-items {
        height: 10rem;
        display: flex;
        flex-direction: column;
        overflow: scroll;

        .cart-item {
            width: 100%;
            display: flex;
            height: 5rem;
            margin-bottom: 1rem;

            img {
                width: 35%;
            }

            .item-details {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0.1rem 1.2rem;

                .name {
                    font-size: 1rem;
                    margin-bottom: 0.2rem;
                }
            }
        }
    }
    .button {
         display: flex;
         .custom-button {
             width: 5rem;
             height: 2rem;
             background-color: var(--dark-color);
             color: var(--white-color);
             margin: 1rem;

        &:hover {
            background-color: var(--white-color);
            color: var(--dark-color);
        }
    }
    }
    
}

// box
.box {
    display: flex;
    .box-pic {
        margin: 1rem;
        width: 55%;
        max-width: 465px;
        & img {
            width: 100%;
        }
    }

    &__intro {
        margin: 0.5rem;
        color: var(--white-color);
        line-height: 1rem;

        .light {
            margin: 1rem;
            font-size: 1.5rem;
        }
    }
}

.switch {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    width: 80%;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;

    & img{
        width: 6rem;

        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 480px) {
    .store-menu {
        .menu-item {
            & img {
                width: 11rem;
                height: 11rem;
            }
    
            & a {
                font-size: 1.5rem;
                font-weight: 100;
            }
        }    
    }

    .cardpage {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 768px) {
    .title {
        padding: 3rem 0 0 2rem;     
        
        & img {
            top: 7rem;
        }
    }

    .store-menu {
        .menu-item {
            & img {
                width: 12rem;
                height: 12rem;
            }
    
            & a {
                font-size: 1.75rem;
            }
        }    
    }  
    
    .story-menu {
        .list {
            font-size: 1.3rem;
        }
    
        .list__item{
            font-size: 1.1rem;
        }
    }
    
    .time-title {
        padding: 2rem 0 0 2rem; 

        li {
            font-size: 1.2rem;
        }
    }
    
    .left {
        & img {
            width: 7rem;
        }
    }
    
    .pic {
        grid-template-columns: 1fr 1fr;
    }
    
    .map {
        width: 20rem;
        height: 15rem;
    }

    .cardpage {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .card__item {
            margin: 1rem 0;
            font-size: 1.3rem;
    
        }
    }

    .shoppage {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .card__item {
            margin: 1rem 0;
            font-size: 1.3rem;
        }
        .add {
            font-size: 1.2rem;
        }
    }
    
    a{
    text-decoration: none;
}
}
@media screen and (min-width: 1024px) {
    .store-menu {
        .menu-item {
            & img {
                width: 13rem;
                height: 13rem;
            }
        }    
    }

    .story-menu {
        .list {
            font-size: 1.5rem;
        }
    
        .list__item{
            font-size: 1.3rem;
        }
    }

    .time-title {
        li {
            font-size: 1.5rem;
        }
    }
    
    .left {
        & img {
            width: 9rem;
        }
    }
    
    .pic {
        grid-template-columns: 1fr 1fr;
    }

    .box {
        &__intro {
            font-size: 1.2rem;
            margin-left: 3rem ;
            .light {
                font-size: 1.6rem;
            }
        }
    }

    .shoppage {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 1224px) {
    .store-menu {
        .menu-item {
            & img {
                width: 14rem;
                height: 14rem;
            }
        }    
    }
    
    .story-menu {
        .list {
            font-size: 1.7rem;
        }
    
        .list__item{
            font-size: 1.5rem;
        }
    }

    .left {
        & img {
            width: 10rem;
        }
    }

    .switch {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        width: 30%;
        right: 0;
        top: 9rem;
    
        & img{
            width: 6rem
        }
    }
}
@media screen and (min-width: 1824px) {
    .store-menu {
        .menu-item {
            & img {
                width: 15rem;
                height: 15rem;
            }
        }    
    }
    
    .left {
        & img {
            width: 11rem;
        }
    }

    .box {
        &__intro {
            .light {
                font-size: 1.5rem;
            }
        }
    }
}