body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: 300;
}

.title {
    padding: 1rem 0 0 2rem;     
    font-size: 3rem;
    font-weight: 600;
}

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    margin-top: 2rem;  
}

.store-menu {
    .menu-item {
        & img {
            width: 15rem;
        }

        & a {
            color: var(--dark-color);
            width: 5rem;
        }

        &:last-child {
        padding: 0 0 3rem 0;
        }
    }    
}